[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[[source]]

name = "internal"
verify_ssl = true
url = "http://localhost:8080/simple"

[packages]

[dev-packages]

pytest = "*"
tox = "*"
